# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo

# IDEs
.vscode/
.idea/

# Python virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos gerados pelo script
audio_analysis.xlsx
program.log
processed_state.json

# Pasta do FFmpeg standalone
ffmpeg/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs temporários
*.log

# Excel temporários (caso crie backups automaticamente)
~$audio_analysis.xlsx
